@using myTaiwanTest.Models
@model AddfriendPlusText
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Social Map</title>
    <meta charset="utf-8" />
    <link href="/assets-YiChun/css/header.css" rel="stylesheet" />
    <link href="/assets-YiChun/css/main.css" rel="stylesheet" />
    <!-- d3 -->
    <script src="/assets-YiChun/js/d3.min.js"></script>
    <script src="/assets-YiChun/js/jquery-2.2.4.min.js"></script>
    <script src="/assets-YiChun/js/topojson.v2.min.js"></script>
    <script src="~/assets-YiChun/js/d3MyTaiwan.js"></script>
    <!--  -->
</head>
<body>
    <div class="header">
        <nav class="top-bar">
            <div>
                <ul class="title-area">
                    <li><img src="/assets-YiChun/images/header.png" class="logo" onclick="toDynamic()"/></li>
                    @if (Model == null || Model.sign.faceUrl == "") {
                        <li><img src="/assets-YiChun/images/YC.jpg" class="logoface" onclick="toArctile()" /></li>
                    }
                    else {
                        <li><img src="@Model.sign.faceUrl" class="logoface" onclick="toArctile()" /></li>
                    }
                    <li><label onclick="toArctile()">@Session["userName"]</label></li>
                </ul>
            </div>

            <section>
                <ul>
                    <li class="section-icon"><a><img src="/assets-YiChun/images/logout.png" class="top-icon" onclick="toLogout()"/></a></li>
                    <li class="section-icon"><a><img src="/assets-YiChun/images/add.png" class="top-icon" onclick="toText()"/></a></li>
                    <li class="section-search">
                        <form action="/signs/searchUser" method="post">
                            <input type="button" class="search_map" />
                            <input type="text" name="name" class="search_text" placeholder="Search" />
                            <input type="submit" value="" class="search_button" />
                        </form>
                    </li>
                </ul>
            </section>
        </nav>
    </div>

    <div class="dynamicImageSpace">
        <!--        <img src="/assets-YiChun/images/high-resolutionImage.jpg" class="largeImage"/>-->
        @if (Model == null || Model.FriendSign.coverUrl == "")
        {
            <img src="/assets-YiChun/images/R0011094.jpg" class="largeImage" />
        }
        else
        {
            <img src="@Model.FriendSign.coverUrl" class="largeImage" />
        }
        <ul>
            <li>
                @if (Model == null || Model.FriendSign.faceUrl == "") {
                    <img src="/assets-YiChun/images/YC.jpg" class="largeImageFace" />
                }
                else {
                    <img src="@Model.FriendSign.faceUrl" class="largeImageFace" />
                }

                <ul>
                    @if (Model.isFriend(Convert.ToInt32(Session["userID"]))) {
                        <li><button type="button" class="addFriend" onclick="toDelFriend()">解除追蹤</button></li>
                    }
                    else { 
                        <li><button type="button" class="addFriend" onclick="toAddFriend()">加入追蹤</button></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    <div class="dynamicBodySpace">
        <div class="taiwanBar">
            <svg width="100%" height="575px"></svg>


        </div>
        @RenderBody()
    </div>
    

    <script>
        function toArctile() {
            window.location.href = "/signs/ArctileIndex"
        }

        function toDynamic() {
            window.location.href = "/signs/Login"
        }

        function toLogout() {

            window.location.href = "/signs/LogOut/";
        }

        function toAddFriend() {


            window.location.href = "/signs/addFriend/" + @Model.friendID;
        }

        function toText() {
            window.location.href = "/add/addTest"
        }

        function toDelFriend() {
            window.location.href = "/signs/delFriend/" + @Model.friendID;
        }

    </script>
</body>
</html>