@model myTaiwanTest.Models.Sign

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passwords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passwords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.faceUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faceUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coverUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coverUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
